---
layout: layouts/main
permalink: 404.html
title: Erreur 404
---

<section class="error">
  <h1 class="h1">404</h1>
  <span>Cette page n'existe pas ):</span>
  <a href="/">Retour à l'accueil</a>
</section>