---
layout: layouts/main.njk
pagination:
    data: categories
    size: 1
    alias: category
    addAllPagesToCollections: true
permalink: "categories/{{ category.slug }}/"
eleventyComputed:
    title: "{{category.name}}"
    description: "Tous les articles sur {{category.name}} sur bipboup.dev"
---

{%- from "components/article-link/article-link.njk" import article -%}

<h1 style="text-align:center;" class="gradient-text h1">{{category.name}}</h1>

{% for post in posts%}
    {% if post.category.id == category.id %}
      {{article(post)}}
    {%endif%}
{%endfor%} 