---
layout: layouts/main.njk
pagination:
    data: categories
    size: 1
    alias: category
permalink: "categories/{{ category.slug }}/"
eleventyComputed:
    title: "{{category.name}}"
---

{{category.name}}
<a href="/">Retour à l'accueil</a>