---
title: Bipboup.dev | Développement web, UX/UI design, ...
layout: layouts/main.njk
---

{%- from "components/article-link/article-link.njk" import article -%}


{# <h3>Articles récents:</h3>

{% for post in collections.post%}
    {{article(title=post.data.title, slug=post.fileSlug)}}
{%endfor%} #}