---
title: Bipboup.dev | Développement web, UX/UI design, ...
layout: layouts/main.njk
---

{%- from "components/article-link/article-link.njk" import article -%}



{{ collections.all | log }}

 <h3>Articles récents:</h3>

{% for post in posts%}
    {{post.slug}}
    {{article(title=post.title, slug=post.slug)}}
{%endfor%} 