---
title: Développement web, UX/UI design, ...
layout: layouts/main.njk
---

{%- from "components/article-link/article-link.njk" import article -%}

 <h3>Articles récents:</h3>

  {{categories | log}}
{% for post in posts%}
    {{post.slug}}
    {{article(title=post.title, slug=post.slug)}}
{%endfor%} 