@import "./prism.css";
.markdown h1, .markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6{
  margin-top: 40px;
}
.markdown a{
  text-decoration: underline;
  font-weight: 700;
  color: #4640b1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 3px;
  padding: 0 2px;
}
.markdown a:hover::after{
  left:0;
  transition: left 200ms;
}
.markdown a::after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, #FA97A1, #c2b6eb);
  opacity: .8;
  left: -100%;
  z-index: -1;
}
.markdown ul{
  display: block;
  list-style: square;
  padding-left: 2ch;
  margin: 40px 0;
}
.markdown em{
  font-style: italic;
}
.markdown strong{
  font-weight: 600;
}
.markdown p{
    font-size: 1rem;
    line-height: 140%;
    font-family: "Open Sans";
    font-weight: 400;
    margin-top: 12px;
}
.markdown h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

.markdown h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 127%;
}

.markdown h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 127%;
}

.markdown h4{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 127%;
}

.markdown h5{
    font-size: 1.5rem;
}
.markdown h6{
  font-size: 1.25rem;
  font-weight: 500;
}

.markdown .token.operator{
  background: none;
}

@media (max-width:800px) {
  .markdown h1{
    font-size: 1.6rem;
  }
  .markdown h2{
    font-size: 1.5rem;
  }
  .markdown h3{
    font: 1.4rem;
  }
  .markdown h4{
    font-size: 1.25rem;
  }
}
