{%- from "components/spotlight/spotlight-article.njk" import spotlightArticle -%}

<section class="spotlight">
      {{spotlightArticle(article=posts[0])}}
      {{spotlightArticle(article=posts[1])}}
</section>
